<section id="game">
  <form class="col s12 m7" id="new_mortgage" action="/mortgages" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"></span>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="row" id="form_start">
      <div class="col s12 m7">
        <div class="row">
          <a href="javascript:void(0);" id="add_fixed_rate" class="btn">Fixed Rate Mortgage</a>
          <a href="javascript:void(0);" id="add_adjustable_rate" class="btn">Adjustable Rate Mortgage</a>
          <div class="input-field col s12 m4">
            <input id="fixed_rate" class="validate" placeholder="i.e: 3.75" step=".125" min="1" max="15" type="number" name="mortgage[rate][]">
            <label for="fixed_rate" class="active">Interest Rate (APR)</label>
          </div>
          <div class="input-field col s12 m4 offset-m1">
            <input id="fixed_term" class="validate" placeholder="i.e.: 30" step="5" min="5" max="30" type="number" name="mortgage[term][]">
            <label for="fixed_term" class="active">Term (years)</label>
          </div>
          <input id="years_before_adjustment" type="hidden" value ="0" name="mortgage[years_before_adjustment][]">
          <input id="max_rate_adjustment" type="hidden" value ="0" name="mortgage[max_rate_adjustment][]">
        </div>
        <div class="row">
          <div class="input-field col s12 m4">
            <input id="fixed_rate" class="validate" placeholder="i.e: 3.75" step=".125" min="1" max="15" type="number" name="mortgage[rate][]">
            <label for="fixed_rate" class="active">Interest Rate (APR)</label>
          </div>
          <div class="input-field col s12 m4 offset-m1">
            <input id="fixed_term" class="validate" placeholder="i.e.: 30" step="5" min="5" max="30" type="number" name="mortgage[term][]">
            <label for="fixed_term" class="active">Term (years)</label>
          </div>
          <input id="years_before_adjustment" type="hidden" value ="0" name="mortgage[years_before_adjustment][]">
          <input id="max_rate_adjustment" type="hidden" value ="0" name="mortgage[max_rate_adjustment][]">
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="adjustable_rate" class="validate" placeholder="i.e: 3.75" step=".125" min="1" max="15" type="number" name="mortgage[rate][]">
            <label for="adjustable_rate" class="active">Interest Rate (APR)</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="adjustable_term" class="validate" placeholder="i.e.: 30" step="5" min="5" max="30" type="number" name="mortgage[term][]">
            <label for="adjustable_term" class="active">Term (years)</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="years_before_adjustment" class="validate" placeholder="i.e.: 5" step="1" min="1" max="30" type="number" name="mortgage[years_before_adjustment][]">
            <label for="years_before_adjustment" class="active">Years Before Adjustment(years)</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="max_rate_adjustment" class="validate" placeholder="i.e.: 2.5" step=".125" min="1" max="5" type="number" name="mortgage[max_rate_adjustment][]">
            <label for="max_rate_adjustment" class="active">Max Rate Adjustment</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m2">
            <button class="btn waves-effect waves-light" type="submit" name="commit" id="calculate" >Calculate
              <i class="material-icons">send</i>
            </button>
          </div>
        </div>
      </div>
      <div class="col s12 m5">
      </div>
    </div>
  </form>
</section>

