<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-grey darken-3">
      <a href="#!" class="brand-logo hide-on-med-and-down">Adjustable & Fixed Rate Mortgage Calculator</a>
      <a href="#!" class="brand-logo hide-on-large-only">Mortgage Calculator</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#methodology">Methodology</a></li>
        <li><a href="#myths">Common Myths</a></li>
        <li><a href="#creator">Creator</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#methodology">Methodology</a></li>
        <li><a href="#myths">Common Myths</a></li>
        <li><a href="#creator">Creator</a></li>
      </ul>
    </div>
  </nav>
</div>
  <div class="container-index">
    <section id="calculate">
      <form class="col m12 l10" id="new_mortgage" action="/mortgages" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="authenticity_token" value="">
        <div class="card blue-grey darken-1" >
          <div class="card-content white-text">
            <p class="flow-text">An all inclusive comparative calculator that uses inflation, probabilities and tax writeoffs to give the average person the knowledge to make a rational decision on the most important financial aspect of their life. </p>
            <span class="card-title"></span>
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col l3 s12 hide-on-large-only">
            <div class="card">
              <div class="card-content">
                <h5>How to Compare</h5>
                <ol class="collection">
                  <li class="collection-item">Click on type of mortgage</li>
                  <li class="collection-item">Enter Data</li>
                  <li class="collection-item">Click "Calculate"</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col m9 s12">
           <div class="card">
            <div class="card-content white-text">
              <a href="javascript:void(0);" id="add_fixed_rate" class="btn flow-text">Fixed Rate Mortgage</a>
              <a href="javascript:void(0);" id="add_adjustable_rate" class="btn flow-text">Adjustable Rate Mortgage</a>
            </div>
            <div class="row">
              <div class="input-field col m12 l4">
                <i class="fa fa-usd" style="margin-left:-10px;"></i>
                <input id="loan" style="padding-right:10px;width:95%;" class="validate flow-text" value="200000" step="5000" min="0" type="number" name="mortgage[loan]">
                <label for="loan" class="active flow-text"><i class="fa fa-money"></i> Loan Amount</label>
              </div>
            </div>
            <div class="row" id="form_start">
            </div>
            <div class="row">
              <div class="input-field col m12 l2">
                <button class="btn waves-effect waves-light" type="submit" name="commit" id="calculate" ><i class="fa fa-calculator">Calculate</i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 s12 hide-on-med-and-down">
          <div class="card">
            <div class="card-content">
              <h5>How to Compare</h5>
              <ol class="collection">
                <li class="collection-item">Click on type of mortgage</li>
                <li class="collection-item">Enter Data</li>
                <li class="collection-item">Click "Calculate"</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section id ="methodology">
    <div class="row">
      <div class="col s12 m6">
        <div class="card hoverable">
          <div class="card-image">
            <%= image_tag("math.jpg", alt: "File Name Fancy", class: "img-responsive")%>
            <span class="card-title">Interest Rates</span>
          </div>
          <div class="card-content">
            <p>Rates for ARMs are determined using a probabilty distribution where the spectrum of possible outcomes begins at 2.5% and peaks at 15%. The most likely outcomes are between rates of 2.5% & 6%. Depending on the current rate, the area below/above that rate is determined. A 1..100 number is randomly generated and subtracted from the area below the incoming rate. This number is then assumed to be basis points adjustment for that year. The adjustments are summed if the ARM has adjustment periods of longer than one year.</p>
          </div>
          <div class="card-action">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger white-text" href="#modal1">View Graphic</a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <%= image_tag("trapezoid.png", alt: "File Name Fancy", class: "img-responsive")%>
              </div>
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card hoverable">
          <div class="card-image">
            <%= image_tag("Taxes.jpg", alt: "File Name Fancy", class: "img-responsive")%>
            <span class="picture card-title">Tax Writeoffs</span>
          </div>
          <div class="card-content">
            <p>Taxes are calculated based on the amount of loan you are seeking. The higher the loan, the higher your effective tax rate. As you progress throughout the life of your loan, your effective tax rate is assumed to increase since income generally increases over time. The lowest rate possible is 14% and the highest rate possible is 33%.</p>
          </div>
<!--           <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
    </div>
    </section>

    <section id ="myths">
      <div class="card">
        <div class="row">
          <h2 class="center brown-text">Myths</h2>
          <div class="col s12 m4">
            <div class="icon-block">
              <h4 class="center brown-text">"ARMs are bad"</h4>
              <p class="light">To make ARMs attractive banks must offer a below market rate for the introductory period. This provides an opportunity to pay down the mortgage while rates are low (see "Minimum payments are best" myth). Additionally, ARMs are generally lower interest rate than their Fixed Rate partners at a given time. For the same reason that a Certificate of Deposit (CD) at your bank pays less for a 1 year than for a 5 year, ARMs will have slightly lower rates than Fixed mortgages at a given time. </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h4 class="center brown-text">"I will refinance"</h4>
              <p class="light">You <i>can</i> refinance, but the general reasons for doing so are usually misplaced. Refinancing is a good option if you're planning on staying in the home for a long time AND you are significantly reducing your interest rate. However, "refinancing" is usually used regarding ARMs, which does not make sense. Let's create a scenario... You buy a 5/1 ARM today with an introductory rate of 2.75% for the 1st five years.  In five years you call the bank and they say it will adjust to 4.75% (woah!) and obviously you're unhappy. The first thing you do is go look at refinancing.  However you'll find that fixed rate mortgages are now 5%. The reason that refinancing is not really a solution to counter an ARM adjustment because the underlying reasons that makes the ARM adjust to 4.75% are the same that makes the Fixed Rate 5%. Fixed Rates and ARMs move together.</p>
              <div class="card-action">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger white-text" href="#modal3">Counter ARM adjustment</a>
            <!-- Modal Structure -->
            <div id="modal3" class="modal">
              <div class="modal-content">
              <p>You should always be prepared for your ARM rate adjustment to be high. The calculator gives you both predicted and worst case outcomes. But what can you do to help counter your ARM rate adjustment? You can refinance to a fixed rate, but that would simply be locking into the current rate and preventing future "bad" adjustments but not affecting the current adjustment. You could refinance into another ARM and receive an introductory rate that is ~0.5% less than what your adjusted rate would be. The problem here is closing costs. When refinancing, your payment is reduced due to two factors: lower interest rate AND extending the life of your loan. Knowing this, you can lower your payment, albeit slightly, by simply refinancing into the same interest rate and renewing the term.</p>
              <p>Thoughts:<br>
              What are closing costs? The question is not what they consist of - since that is defined clearly in the documents - rather what purpose do they accomplish. Imagine a world without closing costs. A borrower could effectively reduce their rate at will, through refinancing, every time the rate went down and never have a risk of higher rates. Closing costs counter this, and gives borrowers some pause.
              </div>
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>
          </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h4 class="center brown-text">"Minimum payments are best"</h4>
              <p class="light">Ask everyone you know who has a mortgage and most will agree that they make the minimum payment. Yet ask the same people about credit cards and almost all will agree it's bad to make the minimum payment. To be honest the two are not exactly alike: Mortgages generally have an interest rate of 3% to 6%, whereas credit cards are generally 15% to 25%. Nonetheless, there are definitely scenarios where paying excess can be financially smart.</p>
            <div class="card-action">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger white-text" href="#modal4">Learn More</a>
            <!-- Modal Structure -->
            <div id="modal4" class="modal">
              <div class="modal-content">
              <p>One of the main reasons individuals like mortgages is due to the tax benefit. Those individuals argue against overpayment due to the reduction of interest, and thus the tax benefit. The calculator takes this into account, so be sure to pay attention to which mortgage vehicle was ranked higher when the tax benefit was used. What the calculator DOESN'T calculate is opportunity cost, which is what you would have otherwise done with your money. Instead of paying an extra $500 per month towards your mortgage, you could have instead bought $500 worth of stocks (or CDs or treasury bonds). Opportunity costs are impossible to calculate because your personal opportunity costs vary largely based on who you are: old, young, high/low income etc... With regards to opportunity costs, the argument for paying down your mortgage is that it's a guaranteed return and generally larger than other guaranteed returns.  The arguments against paying it down is that you can invest in higher yielding, albeit higher risk, financial vehicles such as stocks and bonds (and paying down those credit cards!).</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
            <h5 class="center white-text">Adjustable Rate Mortgage</h6>
              <div class="container">
                <ul class="collection grey">
                 <h5>Pros: </h5>
                  <li class="collection-item"><i class="fa fa-caret-right"></i>Below-market introductory rate</li>
                  <li class="collection-item"><i class="fa fa-caret-right"></i>Rate could go down</li>
                </ul>
                <ul class="collection grey">
                  <h5>Cons: </h5>
                  <li class="collection-item"><i class="fa fa-caret-right"></i>Could go up</li>
                  <li class="collection-item"><i class="fa fa-caret-right"></i>Could go up a lot</li>
                  <li class="collection-item"><i class="fa fa-caret-right"></i>Rate uncertainty (difficult to plan)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card blue-grey darken-1" >
              <h5 class="center white-text">Fixed Rate Mortgage</h6>
              <div class="container">
                <ul class="collection grey">
                  <h5>Pros: </h5>
                  <li class="collection-item"><i class="fa fa-caret-right"></i>Rate is fixed for the life of loan</li>
                </ul>
                <ul class="collection grey">
                  <h5>Cons: </h5>
                  <li class="collection-item"><i class="fa fa-caret-right"></i>Rate won’t go down</li>
                  <li class="collection-item"><i class="fa fa-caret-right"></i>No introductory rate</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id ="creator">
      <div class="row">
       <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag("kev.jpg", alt: "File Name Fancy", class: "activator")%>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Creator of the Calculator<i class="material-icons right">more_vert</i></span>
      <p><a href="https://www.linkedin.com/pub/kevin-manuel/54/b73/852">Linkedin Profile</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Creator of the Calculator<i class="material-icons right">close</i></span>
      <h5>Kevin is fascinated by history and numbers. As a minor real estate investor, Kevin once had to choose between a 5/5ARM and a fixed rate mortgage. A few Excel spreadsheets later, he decided the 5/5ARM was best for him. Thinking that others were having the same dilemma, he decided to build this all inclusive calculator. The goal was to create a site where someone could easily view their options based on probable outcomes, without having to know anything about finance or predictive modeling.</h5>
      <p><a href="https://www.linkedin.com/pub/kevin-manuel/54/b73/852">Linkedin Profile</a></p>
    </div>
  </div>
  </div>






