<section id="game">
  <form class="col s12 m6" id="new_mortgage" >
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"></span>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12 m4">
            <input id="fixed_rate" class="validate" placeholder="i.e: 3.75" step=".125" min="1" max="15" type="number">
            <label for="fixed_rate" class="active">Interest Rate (APR)</label>
          </div>
          <div class="col s12 m4 offset-m2">
            <input id="fixed_term" class="validate" placeholder="i.e.: 30" step="5" min="5" max="30" type="number">
            <label for="fixed_term" class="active">Term of Mortgage (years)</label>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
      </div>
    </div>
  </form>
</section>
